<div class="planets">
  <div class="planets_image">
    <%= image_tag 'marusan.JPG', :size => "600x450" %>
  </div>
  <div class="planets_description">
    <div class="planets_common">
    <div style="text-align: center; font-weight: bold;">PLANET'S</div><br/>
    さいたま市(大宮)をメインに東京都近辺で活動する、
    社会人の草野球チームです。<br/>
    土日に活動していて、春秋は青山の野球大会に出場しています。<br/>
    チームレベルは弱め。<br/>
    モットーは、ベンチにいても貢献選手がＭＶＰ★<br/>
    繋ぎの野球で、皆平等の、楽しい野球チームです。<br/>
    随時、対戦相手を募集中。<br/>
    大宮のグランドであれば、比較的予約しやすいです。<br/>
    是非お声かけください！ 
    </div>
    <div class="buttons">
      <%= link_to '対戦を申し込む', '#' %>
    </div>
  </div>
</div>
