<div id="header">
  <div class="header_contents">
    <div class="news">ス<span class="new_comment">1</span></div>
    <div class="news">セ<span class="new_comment">1</span></div>
    <div class="news">ケ<span class="new_comment">1</span></div>
    <div class="news">ト<span class="new_comment">1</span></div>
    <div class="news">メ<span class="new_comment">1</span></div>
    <div class="history"><span class="new_comment">7643</span>本ノック中</span></div>
    <span>Welcome</span>
  </div>
</div>