<div id="top_image">
  <%= image_tag 'top.jpg',  :width => "950px"  %>
</div>
<div id="team_name">
  <div class="name">planet's</div>
  <div class="description">This team is a baseball team</div>
  <div class="description">Teamwork and healthy is the world's best flavor</div>
  <div class="description">Let's Enjoy baseball!!</div>
</div>